/* paleta de cores  
¹ orange:e2a355
² orange clean;deb37e   
³ gray; 7f7770 
  dark-gray; 68635f
  light-gray; c3bfbc
*/ 





body{
    font-family: 'Open Sans', sans-serif;
}
/*_________________________________________________________________________________________________________________________________*/
.bg-papel-bottom{
    background-image:url('../imagens/grupo1-bg-rasgado-branco-botoom.png');
}

/*_________________________________________________________________________________________________________________________________*/
/* header styles */
/*_________________________________________________________________________________________________________________________________*/

/* barra de busca e borda do pesquisar */
.searchbar{
    margin-bottom: auto;
    margin-top: auto;
    height: 60px;
    background-color: #c3bfbc;
    border-radius: 30px;
    padding: 10px;
    color: rgb(230, 216, 216);
    }
   
/*_________________________________________________________________________________________________________________________________*/
    
    .search_input{
    color: rgb(255, 255, 255);
    border: 0;
    outline: 0;
    background: none;
    width: 0;
    caret-color:transparent;
    line-height: 40px;
    transition: width 0.5s linear;
    }


/*_________________________________________________________________________________________________________________________________*/

    .searchbar:hover > .search_input{
    padding: 0 10px;
    border-radius: 15px;
    width: 250px;
    caret-color:rgb(255, 255, 255);
    transition: width 0.35s linear;
    background-color: #c3bfbc
    }


/*_________________________________________________________________________________________________________________________________*/

    .searchbar:hover > .search_icon{
    background:white;
    color: #e2a355;
    }


/*_________________________________________________________________________________________________________________________________*/


    .search_icon{
    height: 40px;
    width: 40px;
    float: right;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    color: #68635f;
    text-decoration:none;
    }
    /*///// header styles /////*/

/*_________________________________________________________________________________________________________________________________*/


/*Celular e tables */
@media screen and (max-width: 992px) {
    body {
      background-color: rgb(255, 255, 255);
        }
        .searchbar:hover > .search_input{
            border-radius: 15px;
            width: 25s0px;
 
        }       
}