/* paleta de cores  
¹ orange:e2a355
² orange clean;deb37e   
³ gray; 7f7770 
  dark-gray; 68635f
  light-gray; c3bfbc
*/ 





body{
    font-family: 'Open Sans', sans-serif;
    background-color: #fff;
}
/*_________________________________________________________________________________________________________________________________*/






.bg-papel-bottom{
    /* height:180px; */
    background-image:url('../imagens/bg-rasgado-branco-topo.png');
    background-size: 100%;
    background-position: 0 -50px;
    background-repeat: no-repeat;
}

.logo{
    height: 80px;
}


/* barra de busca e borda do pesquisar */
.searchbar{
    margin-bottom: auto;
    margin-top: auto;
    height: 60px;
    background-color: #c3bfbc;
    border-radius: 30px;
    padding: 10px;
    color: rgb(230, 216, 216);
    }
   
    
    .search_input{
    color: rgb(255, 255, 255);
    border: 0;
    outline: 0;
    background: none;
    width: 0;
    caret-color:transparent;
    line-height: 40px;
    transition: width 0.5s linear;
    }



    .searchbar:hover > .search_input{
    padding: 0 10px;
    border-radius: 15px;
    width: 250px;
    caret-color:rgb(255, 255, 255);
    transition: width 0.35s linear;
    background-color: #c3bfbc
    }



    .searchbar:hover > .search_icon{
    background:white;
    color: #e2a355;
    }



    .search_icon{
    height: 40px;
    width: 40px;
    float: right;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    color: #68635f;
    text-decoration:none;
    }
    /*///// header styles /////*/

/*_________________________________________________________________________________________________________________________________*/

.txt-laranja{
    color:#e2a355;
}

.txt-cinza{
    color:#7f7770 ;
}

.bg-laranja{
    background-color: #deb37e;

}

.bg-cinza{
    background-color: #7f7770;
}

.bg-cinza-op5{
    background-color: rgba(127, 119, 112, 0.50);
}


.bg-folhas-left{
    background-image:url('../imagens/grupo2-bg-sombra-folhagem.png');
    background-repeat: no-repeat;
    background-position: -100px;
}

.promocao{}

.altura-400px{

}

/*_________________________________________________________________________________________________________________________________*/
/*Celular e tables */
@media screen and (max-width: 992px) {

    
}